@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

:root {
  --color-primary: #106eea;
  --color-secondary: #3b8af2;
  --color-variant: #e7f1fd;
  --color-white: #fff;
  --color-heading: #222;
  --text-color: #444;
  --font-poppins: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*------------------------------------------------------------------------
1.) General Style
------------------------------------------------------------------------*/

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/*----------------------------------------------------------------
Topbar
---------------------------------------------------------*/
.topbar {
  background: var(--color-primary);
  padding: 0.5rem 1.2rem;
}

.contact-info a,
.socials a {
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: 0.9rem;
}

.contact-info i,
.socials a i {
  font-size: 1.2rem;
  margin-right: 0.2rem;
  color: #f4f4f4;
}

/*---------------------------------------------------------------------
Navigation Bar
-----------------------------------------------------------------------*/

#header {
  background: var(--color-white);
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

#header .logo {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
}

#header .logo a {
  color: var(--color-heading);
}
#nabar ul {
  margin-right: auto;
}

#navbar ul li {
  list-style: none;
  padding: 10px 0 10px 28px;
}

#navbar ul li a {
  color: var(--color-heading);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  padding: 0;
}

#navbar > ul > li > a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-secondary);
  position: absolute;
  bottom: -6px;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 0%;
}

#navbar > ul > li > a:hover::before {
  visibility: visible;
  width: 100%;
}

#navbar .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 20px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  transition: 0.3s;
  visibility: hidden;
}

#navbar .dropdown ul li {
  min-width: 200px;
}
#navbar ul a i {
  font-size: 1rem;
  padding-left: 0.3rem;
}

#navbar .dropdown ul li a {
  font-size: 0.9rem;
}

#navbar .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

/*------------------------------------------------
Mobile Navigation
--------------------------------------------------*/
.mobile-nav-toggle {
  font-size: 1.5rem;
  color: var(--color-heading);
  cursor: pointer;
  line-height: 0;
  transition: 0.5s;
  display: none;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  #navbar ul {
    display: none;
  }
}
